<?php
// @codingStandardsIgnoreFile

/** @var \SamDemo\CustomerStatus\Block\Form\Status\Edit $block */
?>
<form class="form form-edit-status"
      action="<?php echo $block->escapeUrl($block->getUrl('customer/account/customstatusPost')) ?>"
      method="post" id="form-validate" enctype="multipart/form-data"
      data-hasrequired="<?php echo $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      autocomplete="off">
    <fieldset class="fieldset edit">
        <?php echo $block->getBlockHtml('formkey') ?>
        <div class="field email" data-container="change-email" style="width:50%;">
            <label class="label" for="email"><span><?php echo $block->escapeHtml(__('Status')) ?></span></label>
            <div class="control">
                <input type="text" name="custom-status" id="custom-status" autocomplete="off" value="<?php echo $block->escapeHtmlAttr($block->getCustomStatus()) ?>" title="<?php echo $block->escapeHtmlAttr(__('Status')) ?>" class="input-text"" />
            </div>
        </div>
    </fieldset>

    <?php echo $block->getChildHtml('form_additional_info') ?>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary"
                    title="<?php echo $block->escapeHtmlAttr(__('Save')) ?>">
                <span><?php echo $block->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
    </div>
</form>
<script>
    require([
        "jquery",
        "mage/mage"
    ], function ($) {
        var dataForm = $('#form-validate');
        dataForm.mage('validation', {
            ignore: ':hidden'
        });
    });
</script>
