<?php

// @codingStandardsIgnoreFile
/** @var Magento\Customer\Block\Account\Customer $block */
?>
<?php if($block->customerLoggedIn()): ?>
    <li class="custom-status" data-bind="scope: 'sam_demo'">
        <!-- ko if: sam_demo().custom_status  -->
        <span data-bind="text: sam_demo().custom_status"></span>
        <!-- /ko -->
        <!-- ko ifnot: sam_demo().custom_status  --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "sam_demo": {
                            "component": "SamDemo_CustomerStatus/js/view/sam-demo"
                        }
                    }
                }
            }
        }
        </script>
    </li>
<?php endif; ?>
